@page "/"

<PageTitle>Home</PageTitle>

<Logo></Logo>
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Welcome</h5>
					<p class="card-text">
						Welcome to Be Active Football Academy, Peterborough's leading football training provider, passionately established in March 2022 by the football enthusiasts.
						<br />Our mission is to give football opportunities for children of all skills levels, regardless of ethnicity or gender, creating an inclusive community where every child can grow on and off the pitch.
					</p>

					<p class="card-text">
						In the 2023/2024 season, we proudly entered the league with our U11 team, marking a significant milestone in our academy's history.
						<br />This season is a testament to our dedication to nurturing young talent and providing a platform for them to showcase their skills.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Power of collaboration</h5>
					<p class="card-text">
						In September 2023, we initiated a partnership with Peterborough Polish School, a meaningful alliance that will see us preparing teams to participate in the prestigious Laxton Hall Festival's tournament.
						<br />This collaboration not only enhances our academy's reach but also promotes cultural diversity within our football family.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Our commitment</h5>
					<p class="card-text">
						Our commitment to excellence is reflected in our choice of top-notch facilities. Be Active Football Academy is proud to utilize premier venues such as the Nene Valley Community Centre, Vivacity's facilities, and Peterborough United's esteemed training ground.
						<br />This training ground, frequented by Peterborough United's first team, women's team, and academic players, provides an inspirational setting for our aspiring football stars.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">What we strive for</h5>
					<p class="card-text">
						In our pursuit of excellence, we employ cutting-edge technologies to enhance our training programs. Technologies such as Veo camera, STATSports, ball launchers, and the Heja app empower our coaches and players, ensuring a progressive and dynamic learning environment.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Equal opportunities</h5>
					<p class="card-text">
						At Be Active Football Academy, we believe in quality training.
						<br />Each group within our academy enjoys a substantial three hours of football per week.
						<br />This ensures that our players receive the attention and practice needed to hone their skills, fostering a deep love and understanding of the beautiful game.
					</p>
				</div>
			</div>
		</div>
		<div class="col-sm">
			<div class="card text-left">
				<div class="card-body">
					<h5 class="card-title">Come and join us!</h5>
					<p class="card-text">
						As we continue to grow our community, inspire young talents, and shape the future of football.
						<br />Be Active Football Academy is more than just a training provider - it's a vibrant community where passion, diversity, and excellence come together to create a footballing experience like no other.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>