@inherits LayoutComponentBase

<PageTitle>Be Active Football Academy </PageTitle>

<div class="page">
	<div class="sidebar">
		<NavMenu/>
	</div>

	<main>
		<article class="content px-4">
            <div class="page-background-image"></div>
			@Body
		</article>
	</main>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
        </div>
        <div>
            <a href="https://www.facebook.com/profile.php?id=100083073291647" class="me-4 text-reset">
                <iconify-icon icon="logos:facebook" width="32" height="32"></iconify-icon>
            </a>
        </div>
    </section>
    <!-- Section: Social media -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright: Be Active Football Academy
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->
